<footer class="main-footer">
    <strong>Copyright &copy; 2025 <a href="https://www.facebook.com/OR7.omar.ragab?locale=ar_AR">Omar Ragab</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" class="text-primary" href="https://www.linkedin.com/in/omar-ragab-690a6528a/"><i class="fab fa-lg fa-linkedin"></i></a>
        <a target="_blank" href="https://www.facebook.com/OR7.omar.ragab?locale=ar_AR"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/omar_ragab__7/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>